#circulo{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 100px;
}

#recJheison{
    width: 100px;
    height: 50px;
    background: green;
    position: absolute;
    top: 30px;
    left: 200px;
}

#ovaleShape{
    width: 200px;
    height: 100px;
    background: rgb(134, 106, 187);
    border-radius: 100px / 50px;
    position: absolute;
    top: 30px;
    left: 350px;
}

