#circulo{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 100px;
}

#recJheison{
    width: 100px;
    height: 50px;
    background: green;
    position: absolute;
    top: 30px;
    left: 200px;
}
#coneRodo{
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid red;
    border-radius: 50%;
    float: right;
  }


