#circulo{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 100px;
}

#ovalShape{
    width: 200px;
    height: 100px;
    background: rgb(212, 140, 140);
    border-radius: 100px / 50px;
    position: absolute;
    top: 30px;
    left: 350px;
}
